<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="/styles/layout.css">

  </head>
  <body>
    <main>
        <nav>
          <ul>
            <li><a href="/">Best Books!</a></li>
            <li><a href="/">home</a></li>
            <li><a href="#">search</a></li>
            </ul>
        </nav>
      <div class="container">
        <!-- <h2>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="#">search</a></li>
        </ul>
        </h2>       -->
        <h4>Search by Title or Author</h4>
      <form action="/searches" method="POST">
        <input id ="txbox" type="text" name="search" placeholder="Enter a title or author" required>
        <fieldset>
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
        </fieldset>
        <fieldset>
          <label for="author">
            <span>Author</span>
            <input  type="radio" name="search" value="author" required>
          </label>
        </fieldset>
        <button type="submit">Search the Google Books API</button>
      </form>
    </div>
    </main>
  </body>
</html>